<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skeinc</title>
    <!-- CSS -->
    <link rel="stylesheet" href="CSS/style-authorization.css">
    <!-- Icons -->
    <link rel="icon" type="image/x-icon" href="Resourses/icon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="authorization">
            <form action="auth" method="post">
                <div class="authorization-title">
                    <span>Авторизация</span>
                </div>

                <div class="input-field">
                    <input type="text" name="login" required>
                    <span></span>
                    <label>Username</label>
                </div>

                <div class="input-field">
                    <input type="password" name="password" required>
                    <span></span>
                    <label>Password</label>
                </div>

                <div class="forgot-password">
                    <a href="/forgotpassword">Забыли пароль?</a>
                </div>

                <div class="input-button">
                    <input type="submit" value="Войти">
                </div>

                <div class="request">
                    <div class="request-success">
                        <% if(success){%>
                        <span><%=success%></span>
                        <%}%>
                    </div>
                    <div class="request-error">
                        <% if(failer){%>
                        <span><%=failer%></span>
                        <%}%>
                    </div>
                </div>

                <div class="signup-link">
                    <span>Нет аккаунта?</span><a href="/signup"> - Зарегистрируйтесь</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>